/* Universal selector */
* {
  font-family: "Ubuntu", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header style */
header {
  display: flex;
  background-color: #333333;
  padding: 5px;
  font-size: 20px;
  justify-content: space-between;
  flex-direction: row;
}

.my-pic {
  border-radius: 37.5px;
}
ul {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  align-items: center;
}

li {
  cursor: pointer;
  font-weight: 400;
  line-height: 2;
  margin-right: 15px;
  color: black;
}

.links-header {
  text-decoration: none;
  color: #d4cfcb;
}

/* Remove purple color from link */
.links-header:hover {
  text-decoration: none;
  color: #d4cfcb;
}
.links-header:focus {
  text-decoration: none;
  color: #d4cfcb;
}
.links-header:active {
  text-decoration: none;
  color: #d4cfcb;
}

a:hover {
  text-decoration: none;
  color: gray;
}

a:foucs {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  background-color: #f5f5f7;
  font-size: 15px;
  padding: 20px;
}

.section-title {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

.first-project-name {
  border: 2px solid gray;
  background-color: #333333;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  top: -60px;
  position: relative;
}

.project-name {
  border: 2px solid gray;
  background-color: #333333;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  top: -60px;
  position: relative;
}

hr {
  border: 1px solid #000;
  width: 90%;
  margin: auto;
}

.second-row-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.second-row-img {
  padding: 20px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

i {
  font-size: 36px;
}

.first-project {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-section-title {
  text-align: center;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004px;
  padding-bottom: 20px;
}

.first-project-image {
  width: 800px;
  height: 400px;
}

.row-image {
  width: 380px;
  height: 190px;
}

@media screen and (max-width: 768px) {
  .contact-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .first-project-image {
    width: 400px;
    height: 200px;
  }

  .row-image {
    width: 190px;
    height: 95px;
  }
}
